server {
    listen 80;
    listen [::]:80;

    server_name ${LETSENCRYPT_DOMAIN} www.${LETSENCRYPT_DOMAIN};
    location /.well-known/acme-challenge/ {
        root /var/www/certbot;
    }

    location / {
        return 301 https://${LETSENCRYPT_DOMAIN}$request_uri;
    }
}
